<div class="container">
  <div class="row">
   
    <div class="col-lg-2"></div>
    <br>
    <div class="col-lg-8 friendlist">
      <h2>Friend List</h2>
      
        <br>
      <ul>
        <li>
      <a routerLink="/profile" class="btn btn-dark">
        Awptimus Giri
      </a>
      <span class="btn btn-danger"><i class="fas fa-user-times"></i>Unfriend</span>
    
    </li>
      <li><a routerLink="/profile" class="btn btn-dark">
        Kaitas
      </a>
      <span class="btn btn-danger"><i class="fas fa-user-times"></i>Unfriend</span></li>
      <li><a routerLink="/profile" class="btn btn-dark">
        Beast_Whisperer
      </a>
      <span class="btn btn-danger"><i class="fas fa-user-times"></i>Unfriend</span></li>
    <li><a routerLink="/profile" class="btn btn-dark">
        Anirban_7
    </a>
    <span class="btn btn-danger"><i class="fas fa-user-times"></i>Unfriend</span></li>
    <li><a routerLink="/profile" class="btn btn-dark">
        Sayantan
    </a>
    <span class="btn btn-danger"><i class="fas fa-user-times"></i>Unfriend</span></li>
    </ul>
    </div>
    <div class="col-lg-8"></div>

  </div>

</div>