

#t-cards {
 
    padding-bottom: 80px;
     color:white;
}

/********************************/
/*          Panel cards         */
/********************************/
.panel.panel-card {
    position: relative;
    height: 241px;
    margin-top: 10px;
    padding: 05px;
    border: none;
    overflow: hidden;
    background-color: rgb(24, 6, 6);
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;
    
    -webkit-transition: height 600ms ease-in-out;
            transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}
.panel.panel-card .panel-heading button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
            box-shadow: 0 0 0 3px #fff;
    
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}

.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;

    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
} 

.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    height: 40px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
} 


.panel.panel-card:hover .panel-heading {
    height: 55px;
    
    -webkit-transition: height 400ms ease-in-out;
            transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;
    
    -webkit-transition: opacity 400ms ease-in-out;
            transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;
    
    -webkit-transition: padding 400ms ease-in-out;
            transition: padding 400ms ease-in-out;
}

.details{

    font-size: 11px;
}

.browse-game{

    background-color: rgb(38, 68, 99);
}

.browse-game .browse-heading{

    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}






/* Search BAr for User*/

#searchForm{
    display: absolute;
    width: 100%;

}

#searchForm .form-row .col {
  margin: 0;
  padding: 0;
}
#searchForm .form-row button, #searchForm .form-row input {
  border: 1px solid #DBDBDB;
  border-radius: 0;
  margin: 0;
}
#searchForm .form-row input {
  border-right: 0px;
  width: 160px;
}
#searchForm .form-row button {
  width: 40px;
}
#searchForm .form-row button i{
 color: #FFFFFF;
}
#searchForm .form-row button:hover{
    background: rgba(0, 255, 200, 0.87) !important;
}

.form-control:focus,
.btn:focus {
    border-color: none !important;
    box-shadow: none !important;
}

/*game search*/

