<div class="container-fluid">
        <video autoplay loop id="video-background" muted plays-inline>
                <source src="/assets/video/vid1.mp4"  type="video/mp4">
        </video>
        <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <br> <br>
                        <ul class="navbar-nav search-games">
                                <li>
                                  <form class="navbar-form" role="search">
                                    <div class="input-group">
                                      <input type="text" class="form-control" [(ngModel)]="queryString" placeholder="Search Games"  name="q">
                                      <div class="input-group-btn">
                                        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                                      </div>
                                    </div>
                                  </form>
                                </li>
                              </ul>
                              <br> <br>                             
                              
                </div>
                <div class="col-lg-3">
                    
                </div>

        </div>

    <div class="row">
      <!--   <div class="col-lg-2 browse-game">

            <div class=" aff-right">

                <div class="ui-block">
                    <h6 class="my-4 browse-heading">Browse Games</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" data-toggle="pill" href="#"> Top Sellers</a>
                        <a class="nav-link" data-toggle="pill" href="#">New Releases</a>
                        <a class="nav-link" data-toggle="pill" href="#">Free Games</a>

                    </div>
                </div>
                <div class="ui-block">
                        <h4 class="my-4 browse-heading">Search User</h4>
                        <hr>
                        <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <div id="searchForm">
                                    <form class="form-row">
                                    <div class="col">
                                      <input class="form-control" type="search" placeholder="Search">
                                    </div>
                                    <div class="col">
                                      <button class="btn btn-outline-success bg-success" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                  </form>
                                  <br>
                              </div>
    
                        </div>
                    </div>
            </div>
        </div> -->
                               
                                    
        <div class="col-lg-12"  >
            <section id="t-cards">
                <div class="container">
                    <div class="row"  >
                        <div class="col-sm-6 col-md-3 col-lg-3 col-12" *ngFor="let game of listOfGames| filterdata: queryString : 'name' ; let i = index"  >
                            <div class="panel panel-default panel-card panel-bg">
                                <div class="panel-heading">
                                    <img src="https://i.kinja-img.com/gawker-media/image/upload/s--9KiOXznr--/c_scale,f_auto,fl_progressive,q_80,w_800/hdn0qsabgs28tbu00tuf.jpg" />
                                    <button class="btn btn-primary btn-sm" role="button"><i class="fas fa-cart-plus"></i></button>
                                </div>

                                <div class="panel-body text-center" >
                                    <h4 class="panel-header"><a routerLink="/games">{{game.name}}</a></h4>
                                    <small>{{game.headLine}}</small>
                                </div>
                                <div class="panel-thumbnails">
                                    <div class="row">

                                        <div class="col-xs-4">
                                            {{game.description}}
                                        </div>
                                        <div class="col-xs-4">
                                            <span class="badge badge-warning">&#x20B9; 0.00</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                               
                    </div>
                </div>
            </section>
        </div>





    </div>
</div>