<div class="container-fluid">
        <video autoplay loop id="video-background" muted plays-inline>
                <source src="/assets/video/vid1.mp4"  type="video/mp4">
        </video> 
        <div class="row">
                <div class="col-lg-3 col-sm-12 col-12">

                        <h3 *ngIf="service.isLoggedIn" style="color: rgb(39, 2, 2);">  Welcome: {{userdetails.firstName}} </h3>
                </div>
                <div class="col-lg-6">
                    <br> <br>
                        <ul class="navbar-nav search-games">
                                <li>
                                  <form class="navbar-form" role="search">
                                    <div class="input-group">
                                      <input type="text" class="form-control" [(ngModel)]="queryString" placeholder="Search Games"  name="q">
                                      <div class="input-group-btn">
                                        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                                      </div>
                                    </div>
                                  </form>
                                </li>
                              </ul>
                              <br> <br>                             
                              
                </div>
                <div class="col-lg-3 col-sm-12 col-12">
                 
                 </div>

        </div>

    <div class="row">              
                                    
        <div class="col-lg-12"  >
            <section id="t-cards">
                <div class="container">
                    <div class="row"  >
                        <div class="col-sm-6 col-md-3 col-lg-3 col-12" *ngFor="let game of listOfGames| filterdata: queryString : 'name' ; let i = index"  >
                            <div class="panel panel-default panel-card panel-bg">
                                <div class="panel-heading">
                                    <img src="/assets/images/{{game.id}}.jpg">
                                    <button class="btn btn-primary btn-sm" role="button"><i class="fas fa-cart-plus"></i></button>
                                </div>

                                <div class="panel-body text-center" >
                                    <h4 class="panel-header"><a [routerLink]="['/games',game.id]">{{game.name}}</a></h4>
                                    <small>{{game.about}}</small>
                                </div>
                                <div class="panel-thumbnails">
                                    <div class="row">

                                        <div class="col-xs-4">
                                            {{game.description}}<br>
                                        </div>
                                        
                                        <div class="col-xs-4">
                                            <span class="badge badge-warning">  &#x20B9; {{game.price}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                               
                    </div>
                </div>
            </section>
        </div>





    </div>

</div>
