<div class="bodyaa">

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-12"></div>
        <div  class="col-lg-6 col-sm-12" style="height:100%; ">
            <div class="row box1 effect1" style="height:126px; margin:0px 0px 1px 0px;">
                <div class="col-lg-2 col-12 col-sm-12" style="padding:0px;"> 
                        <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqVeTUfFjlhbeYor7lPJylIbmn1pB3ThJj8cReusoe1yYUvEXi" style="width:95%;height:59%;margin:14px 0px 0px 16px; border:1px solid grey">
                </div>
                <div class="col-lg-10 col-12 col-sm-12 ">
                    <div class="row">
                        <div class="col-lg-7 col-sm-12">
                            <div style="color:white;font-size: 15px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin:15px 0px -1px 2px;">The_Phoenix</div>
                            <h6 style="font-size:15px; color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight:100px;">Patrick &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; India</h6>
                            <p style="font-size:10px; color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">#LeagueOfLegends<br>Love Gaming!</p> 
                        </div>
                        <div class="col-lg-5 col-sm-12" style="font-size:12px; color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin:13px 0px 0px 0px;font-weight: bold;">
                            Level 10
                            <div  style="height:40%; width:100%; ">
                                <img src="https://steamuserimages-a.akamaihd.net/ugc/89350819824357217/AD9E44298DE8A24F10DE2BF55A56A1E4972F5F12/" height="62" width="110">
                                <button class="button">Edit Profile</button>
                            </div>  
                        </div>
                    </div>
                </div> 
            </div>                    
            <div class="row box2 effect2" style="margin:1px solid red;height:469px;">
                
                 <div class="col-lg-8 col-sm-12">
                        <div class="row box3 effect1" >
                            
                            <img src="https://steamuserimages-a.akamaihd.net/ugc/263853470844806539/38FFD2B568DC144638892A0491B6BF5DB97FF6C6/"height="100" width="315">
                            
                            
                        </div>
                        <div class="row box4 effect1" >
                           <p style="color:white;font-size:12px;margin:3px 0px 0px 9px;"> Recent Activity</p><p style="margin:-23px 0px 0px 169px;font-size:12px;color:white">27.1 hours past two weeks</p>        
                        </div>
                        <div class="row box5 effect1" >
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0ivXViyQ3cMHRUA6-XypGQ2PISgfOL4_TnoMwYEvtBQTC-3FXzA"height="100" width="315">
                        </div>
                        <div class="row box6 effect1" >
                            <img src="https://cache.nulled.to/2846540bba7f65f01d877fa6d116d00c42a9e153/?url=https%3A%2F%2Fi.imgur.com%2FOOdqZoe.png"height="100" width="315">
                        </div>
                        <div class="row box7 effect1" >
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSRhL_sCbxwexfgvAZ8zdEQyeFVz-0NoCYh4vqc7mT7wL3dmKJ"height="50" width="320">
                        </div>
                </div>
                <div class="col-lg-4 col-sm-12" style="height:100%;margin:11px 0px 0px -54px;color:#618989;font-weight:600;">
                    Currently Online
                    <div style="margin:21px 0px 0px 0px;color:white;font-weight: initial;font-size:12px;">Badges</div>
                    <img src="https://cdn1.iconfinder.com/data/icons/achievements-badges/500/ball1-512.png" height="30" width="30">&nbsp;&nbsp;&nbsp;<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWGEqTSf0DH30SyYgfHMs60oUgTksVSM6aJghb7vbx0yB_K8ACYQ"height="30" width="30">&nbsp;&nbsp;&nbsp;<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQThrPRGOYAiDWyJIWDgjTB7QlYnqxa02GabFUCD8vvrgDP3qiZ" height="30" width="30"><br><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkctJFcNaHm0rFPBiNkw_V8e8mcTixsOwC1XGN3MxfvS_DF-YPcQ"height="30" width="30">
                    <ul style="list-style-type:none;margin:31px 0px 0px -35px;">
                    <li style="color:white;font-size:12px;">Games &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 30</li>
                    <li style="color:white;font-size:12px;">Inventory</li>
                    <li style="color:white;font-size:12px;">Screenshots &nbsp;&nbsp;&nbsp;&nbsp;  250</li> 
                    <li style="color:white;font-size:12px;">Videos &nbsp;&nbsp;&nbsp; 3</li>
                    <li style="color:white;font-size:12px;">Workshop Items &nbsp;&nbsp;&nbsp;  2</li>
                    <li style="color:white;font-size:12px;">Reviews &nbsp;&nbsp;&nbsp;   18</li> 
                    <li style="color:white;font-size:12px;">Guides   &nbsp;&nbsp;&nbsp; 1</li> 
                    <li style="color:white;font-size:12px;">Artwork &nbsp;&nbsp;&nbsp;   8</li> 
                </ul>
                <ul style="list-style-type:none;margin:31px 0px 0px -35px;">
                        <li style="color:white;font-size:12px;">Groups  &nbsp;&nbsp;&nbsp;  30</li>
                </ul>
                </div>  
            </div>     
        </div>
        <div class="col-lg-3 col-sm-12"></div> 
    </div>
</div>      
</div>  