<div class="container-fluid text-center" >    
  <div class="row content">

    <div class="col-sm-12 col-lg-2 col-12 sidenav" style="padding-left:0px;padding-right:0px;"></div>
    
    <div class="col-sm-12 col-lg-8 col-12 text-left" style="padding-left:0px;padding-right:0px;">  
      <div class="row">
            <div class="col-lg-11 col-12 col-sm-12"><h1 style="color:orangered; ">&nbsp;&nbsp; {{gamedetails.name}} <span style="font-size:16px;"></span></h1> </div>
            <div class="col-lg-1 col-12 col-sm-12"><br><a class="btn btn-success" (click)="addgame();" ><i class="far fa-plus-square" ></i></a></div>
          
      </div>
      <div class="row">
          <div class="col-lg-8 col-sm-12 col-12" style="padding-left:0px;padding-right:0px;" >
              <img src="/assets/images/{{gamedetails.id}}.jpg" class="imgdiv1" style="height:100%;width:100%;" />
          </div>
          <div class="col-lg-4 col-sm-12 col-12" style="padding-left:0px;padding-right:0px;">
              <img src="/assets/images/{{gamedetails.id}}{{gamedetails.id}}.jpg" class="imgdiv2" style="height:50%;width:100%;" />
              <img src="/assets/images/{{gamedetails.id}}{{gamedetails.id}}{{gamedetails.id}}.jpg" class="imgdiv3" style="height:50%;width:100%;" />
          </div>
      </div>
      <div class="row" style="background-color: rgb(92, 5, 5);opacity: 0.9;color:white; margin:2px 0px 0px 0px; ">
          <div class="col-lg-6 col-12 col-sm-12">Genre : {{gamedetails.genre}}</div>
          <div class="col-lg-6 col-12 col-sm-12">Rating : {{gamedetails.rating}}</div>
          <div class="col-lg-6 col-12 col-sm-12">Country : India</div>
          <div class="col-lg-6 col-12 col-sm-12">Developer : {{gamedetails.developer}}</div>
          <div class="col-lg-6 col-12 col-sm-12">Requirements : Windows 10 64-bit,8gb gtx series</div>
          <div class="col-lg-6 col-12 col-sm-12">Price : &#x20B9;{{gamedetails.price}}</div>
          <div class="col-lg-6 col-12 col-sm-12">Description :{{gamedetails.description}}</div>
      </div>
        
    </div>
  
    <div class="col-sm-12 col-lg-2 col-12 sidenav" style="padding-left:0px;padding-right:0px;"></div>
  
  </div>
</div> 
 
<footer class="container-fluid text-center">
  <p>Copyright (C) 2018 Steem Team. All rights reserved.</p>
</footer>
