<div class="signup-body">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-3"></div>
<div class="col-lg-5 col-12 col-sm-12">


    <div class="row mar20" >
        <div class="col-md-6 col-sm-12 col-12">
          <div class="inner-section">
            <form method="POST" action="">
              <div class="mar20 inside-form">
                <h2 class="font_white text-center"><i class="fab fa-steam-square"></i> &nbsp; SIGN UP</h2>
              <br>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pen"></i></span>
                  <input type="text" class="form-control" name="text" placeholder="First Name">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-pen"></i></span>
                  <input type="text" class="form-control" name="text" placeholder="Last Name">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                  <input type="email" class="form-control" name="text" placeholder="Email...">
                </div>
  
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-mobile-alt"></i></span>
                  <input type="number" class="form-control" name="text" placeholder="Mobile No">
                </div>
  
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar-alt"></i></span>
                  <input type="date" class="form-control" name="text" placeholder="Date of Birth">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
                  <input type="text" class="form-control" name="text" placeholder="Country">
                </div>
                
                
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" name="text" placeholder="Username">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                  <input type="password" class="form-control" name="text" placeholder="Password...">
                </div>
                <div class="footer text-center">
                  <input type="submit" class="btn btn-neutral btn-round btn-lg" value="Join Steem">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  


</div>

<div class="col-lg-3 col-sm-12 col-12">
 

 <div class="container-fluid whycont">
  <div class="row mar20">
    <div class="col-lg-12 col-sm-12 col-12 col-md-12 ">

      <div class="whysteem ">
          <h2 class="font_white text-center">Why Join Steem?</h2>     
             <ul id="">
          <li>Buy and download games</li>
          <li>Join the Steam Community</li>
          <li>Find new Friends</li>
          <li>Schedule a game, tournament</li>
          <li>Receive automatic game updates, and more!</li>
        </ul>
        <br />
        <img src="https://steamstore-a.akamaihd.net/public/images/v6/why_join_preview.png" class="imageonwhy" width="200" height="150" border="0" >
        <br>
        <span class="supopsys">Supported Operating Systems:</span>
        <div class="osare">
          Windows 7, 8, 8.1, 10, or later.<br>
                  Intel Mac, OS X version 10,or later.<br>
          
                  Internet connection required (high speed recommended)
                            </div>
        <br><br>
      </div>
      <br>
  
    </div>
  </div>
</div>
  


  
</div>




</div>
</div>
</div>