<div class="profile-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="container thetop">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12 col-sm-12">
              <h3> {{user.userName}} </h3>
              <img class="profilepic" src="/assets/propic/{{user.id}}.jpg"
                height="164px" width="164px">
            </div>
            <div class="col-lg-6 col-sm-12 col-12 col-md-12">
              <br><br>
              <h4>Country: India</h4>
              <br>
              <p>
                Name: {{user.firstName}} &nbsp; {{user.lastName}} 
              </p>
              <p>
                  Gender: {{user.gender}}
                </p>
                <p>
                    Age: {{user.age}}
                  </p>
      
              <p style="color:white">
               {{user.description}}
              </p>

                 <!--     <a routerLink="/editprofile" class="btn btn-info">Edit Profile</a> -->
            </div>
            <div class="col-lg-3 col-md-6  col-sm-12 col-12">
                <h5><i class="fab fa-steam"></i> Points: {{user.steempoints}}</h5>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row ndrow">
      <div class="col-lg-2"></div>
      <div class="col-lg-6 ">
        <div class="container-fluid ownedgames">
            <h3>Favorite Game-{{user.gameList[0].name}}</h3>
          <div class="row">
            <div class="col-lg-2">   </div>
            <div class="col-lg-8">   <img class="favgame" src="/assets/images/{{user.gameList[0].id}}.jpg" height="100%" width="100%" /></div>
            <div class="col-lg-2">  </div>
            <br> 
          </div>
          <h3>Owned Games </h3>
          <div class="row" >
              <div class="col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let game of user.gameList ">
                  {{game.name}}<img src="/assets/images/{{game.id}}.jpg" height="80%" width="100%" />
              </div>
           </div>
           
        </div>
      </div>
      <div class="col-lg-2">
        <div class="container-fluid otherdetails">
        <h5>Currently Online
          <hr>
        </h5>
        <ul>
          <li>
           <a class="btn" routerLink="/gamelist" >Games</a>
          </li>
          <li>
              <a class="btn" routerLink="/friendlist" >Friends</a>
             </li>
             <li>
                <a class="btn " routerLink="/finduser" >Find Friends</a>
               </li>
               <li>
                  <a class="btn" routerLink="/community" >Community</a>
                 </li>
                 <li>
                    <a class="btn" routerLink="/store" >Store</a>
                   </li>


        </ul>
      </div>
      </div>
      <div class="col-lg-2"></div>

    </div>

  </div>





 
      <div class="row">
        
       
        <div class="col-lg-2"></div>
    
        
        <br>
        <div class="col-lg-8 friendlist">
            <div class="container">
          <h2>Friend List</h2>
    

   <!--  <div class="row justify-content-center">
    
        <div class="col-12 col-md-10 col-lg-6">
           
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i  class="fas fa-search h4 text-body"></i>
                    </div>
                   
                    <div class="col">
                            <input type="text" [(ngModel)]="queryString" class="form-control form-control-lg form-control-borderless" placeholder="Search Friends" >
                      
                    </div>
                  
                </div>
             
        </div>
       
    </div> -->
          
            <br>
          <ul class="userfriend" *ngFor="let user of user.friends| filterdata: queryString : 'user' ; let i = index ">
            <li>
               <span class="btn btn-dark">
            {{user}} 
               </span>
          <span class="btn btn-danger"><i class="fas fa-user-times"></i>Unfriend</span>
        
        </li>
          </ul>
          
        </div>
      </div>
        <div class="col-lg-2"></div>
    
      
    
    </div>







</div>