.thetop{
    background-color: #1b2838;
    color: aliceblue;
}
.thetop h3, h5{
    padding: 20px;
    padding-bottom:0px; 
    color: white;
}

.thetop p{
   
    color: grey;
}

.profilepic{
    margin:20px;
    border: 3px solid grey;
}

.ownedgames{

    background-color: rgb(69, 69, 80);
    color: white;

}

.ownedgames img{


padding: 9px;
}

.ndrow{
    margin-top: 6px;
}
.favgame{
    border: 5px darkgrey solid;
    padding: 0px;
    height: 90%;
}

.otherdetails{
    background-color: #1b2838;
    color:wheat;
    height: 100%;
}


.otherdetails ul{
 list-style: none;
 
}



.friendlist{
    margin-top: 20px;
    background-color: #1b2838;
    color:white;
    opacity: 0.7;
    
}

.userfriend{
    list-style: none;
    display: inline-block;
    
}

.friendlist li{
    padding: 5px;
    display: inline-block;
}

.friendlist h2{
   
    color:gold;
    
}
