<div class="profile-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="container thetop">
          <div class="row">
            <div class="col-lg-3">
              <h3> Kaitas </h3>
              <img class="profilepic" src="https://static1.fjcdn.com/comments/A+demon+and+an+ogre+in+the+same+picture+its+_8e1d9d9dd5472b04112de2b0915c9531.jpg"
                height="164px" width="164px">
            </div>
            <div class="col-lg-6">
              <br><br>
              <h4>Country: India</h4>
              <br>
              <p>
                Name: Santosh Sri Hari
              </p>
              <br>
              <p>
                I like to play teamfortress 2. Add me if you want to play TF2 and trade items.
              </p>
            </div>
            <div class="col-lg-3">
              <h3>Level: 17</h3>
              <br><br><br><br><br>
              <a routerLink="/editprofile" class="btn btn-info">Edit Profile</a>
            </div>
          </div>
        </div>

      </div>
    </div>



    <div class="row ndrow">
      <div class="col-lg-2"></div>
      <div class="col-lg-6 ">
        <div class="container-fluid ownedgames">
            <h3>Favorite Game</h3>
          <div class="row">
            <div class="col-lg-2">   </div>
            <div class="col-lg-8">   <img class="favgame" src="https://i.kym-cdn.com/photos/images/newsfeed/000/174/242/team-fortress-21.jpg?1316109383" height="100%" width="100%" /></div>
            <div class="col-lg-2">  </div>
            <br> 
          </div>
          <h3>Owned Games </h3>
          <div class="row">
              <div class="col-lg-4">    <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/174/242/team-fortress-21.jpg?1316109383" height="100%" width="100%" /></div>
              <div class="col-lg-4">   <img src="https://cdn-images-1.medium.com/max/1191/0*vbw4wQW_Xq2_3eOo.jpg" height="100%" width="100%" /></div>
              <div class="col-lg-4">     <img src="https://upload.wikimedia.org/wikipedia/en/3/3d/PlayerUnknown%27s_Battlegrounds_Steam_Logo.jpg" height="100%" width="100%"/></div>
              <br> 
            </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="container-fluid otherdetails">
        <h5>Currently Online
          <hr>
        </h5>
        <ul>
          <li>
           <a class="btn" routerLink="/gamelist" >Games</a>
          </li>
          <li>
              <a class="btn" routerLink="/friendlist" >Friends</a>
             </li>
             <li>
                <a class="btn " routerLink="/finduser" >Find Friends</a>
               </li>
               <li>
                  <a class="btn" routerLink="/community" >Community</a>
                 </li>
                 <li>
                    <a class="btn" routerLink="/store" >Store</a>
                   </li>


        </ul>
      </div>
      </div>
      <div class="col-lg-2"></div>

    </div>

  </div>
</div>