/* You can add global styles to this file, and also import other style files */
/* Made with love by Mutiullah Samim*/
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';


@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    background: linear-gradient(132deg, #3c6977, rgb(15, 184, 175), #9C27B0, #673AB7, #3F51B5, #2196F3,#03A9F4, #00BCD4, #009688, #4CAF50, #FFC107, #FF9800, #f44336, #E91E63, #9C27B0, #673AB7, #3F51B5, #2196F3,#03A9F4, #00BCD4, #009688, #4CAF50, #FFC107, #FF9800);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;

}

